.card {
  background-color: rgb(245, 238, 236);
  box-shadow: 0 4px 8px 0 rgba(241, 238, 238, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}
