.card {
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(255, 72, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  width: 300%;
  height: 200%;
}

.title {
  color: rgb(236, 226, 226);
  font-size: 18px;
}
